###  Following cell is for data preparation, you should put 'adult.data' file in the same folder as current notebook and ran the cell in the beginning.

In [9]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain',
         'capital-loss', 'hours-per-week', 'native-country', 'income']
df = pd.read_csv('adult.data', names=names, index_col=False)
df = df[['age', 'workclass', 'sex', 'hours-per-week',
         'education', 'capital-gain', 'capital-loss', 'income']]
df.replace(' ?', np.nan, inplace=True)

### The dataset consists of 7 features of a person and an income class that they belong to: '>50K' or '<=50K'.

In [2]:
df.head()

,age,workclass,sex,hours-per-week,education,capital-gain,capital-loss,income
0,39,State-gov,Male,40,Bachelors,2174,0,<=50K
1,50,Self-emp-not-inc,Male,13,Bachelors,0,0,<=50K
2,38,Private,Male,40,HS-grad,0,0,<=50K
3,53,Private,Male,40,11th,0,0,<=50K
4,28,Private,Female,40,Bachelors,0,0,<=50K

## 1) Perform k-nearest neighbors algorithm with two k parameters of your choice on a given dataset.

### 1.1) Preprocessing: dataset contains missing values and categorical variables, you need to handle them, before applying an algorithm on the data.

### 1.2) You need to divide your dataset into two parts: training and test. Training subset should contain 80% of the whole dataset and target classes should be balanced in both subsets.

### 1.3) Apply k-nearest neighbors algorithm with two different k parameters of your choice:

## 2) Evaluate and compare performance of two models:

### 2.1) Print performance metrics of your models:

### 2.2) In a few sentences argue which k performed better, based on performance metrics from the previous task.

### 2.3) Classification for which class were performed better? Why do you think this is the case?